@import "../../scss/variables";

body {
  @media (max-width: $md) {
    background-color: $bgMobile;
  }

  background-color: $bgDesktop;
}

header, main, footer {
  @media (max-width: $sm) {
    padding-inline: 1rem;
  }

  padding-inline: 6.25rem;
}

footer {
  @media (max-width: $sm) {
    padding-inline: 0;
  }
}