@import "../../../scss/variables";

.section__hero {
  background-color: $bgDesktop;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 13.75rem;
  margin-block-end: 10.31rem;
  position: relative;

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $textDark;
    font-family: $mont;

    .hero__title {
      @media (max-width: $xl) {
        font-size: 1.5rem;
      }

      font-size: 2.5rem;
      font-weight: 500;
      line-height: normal;
      margin-block-end: 1.88rem;
    }

    .hero__description {
      @media (max-width: $xl) {
        font-size: .75rem;
        max-width: 20rem;
      }

      font-size: 1rem;
      max-width: 27rem;
      margin-block-end: 2.5rem;
    }
  }

  .hero__books {
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
      position: absolute;
      top: 0;
      right: 0;
      
      img {
        transition: all .8s ease-in-out;

        &:hover {
          &:hover {
            transform: scale(0.97);
          }
        }
      }
    }
    .books__img-f {
      @media (max-width: $xl) {
        top: -1rem;
        right: 8rem;
        height: 15rem;

        & img {
          height: 15rem;
        }
      }

      top: -4rem;
      right: 13.42rem;
      z-index: 3;
      border-radius: 0.125rem;
      background: #dc4a5c;
      height: 23.5rem;

      & img {
        box-shadow: 0px 0px 0px 0px rgba(128, 0, 38, 0.1),
          0px 3px 7px 0px rgba(128, 0, 38, 0.1),
          0px 13px 13px 0px rgba(128, 0, 38, 0.09),
          0px 29px 17px 0px rgba(128, 0, 38, 0.05),
          0px 52px 21px 0px rgba(128, 0, 38, 0.01),
          0px 81px 23px 0px rgba(128, 0, 38, 0);
      }
    }

    .books__img-s {
      @media (max-width: $xl) {
        top: 0rem;
        right: 3rem;
        height: 13rem;

        & img {
          height: 13rem;
        }
      }

      top: -3.5rem;
      right: 6.36rem;
      z-index: 2;
      border-radius: 0.135rem;
      background: #1e4470;
      height: 21.4rem;
      transition: all .8s ease-in-out;
      &:hover {
        translate: 3rem;
      }

      & img {
        box-shadow: 0px 0px 0px 0px rgba(0, 12, 102, 0.1),
          0px 2px 5px 0px rgba(0, 12, 102, 0.1),
          -1px 9px 9px 0px rgba(0, 12, 102, 0.09),
          -1px 20px 12px 0px rgba(0, 12, 102, 0.05),
          -2px 35px 14px 0px rgba(0, 12, 102, 0.01),
          -3px 54px 15px 0px rgba(0, 12, 102, 0);
      }
    }

    .books__img-t {
      @media (max-width: $xl) {
        top: 1rem;
        height: 11rem;

        & img {
          height: 11rem;
        }
      }

      top: -2.5rem;
      right: 0;
      z-index: 1;
      border-radius: 0.15375rem;
      background: #309794;
      height: 18.5rem;
      transition: all .8s ease-in-out;
      &:hover {
        translate: 4rem;
      }

      & img {
        box-shadow: 0px 0px 0px 0px rgba(12, 0, 102, 0.1),
          0px 3px 6px 0px rgba(12, 0, 102, 0.1),
          0px 10px 10px 0px rgba(12, 0, 102, 0.09),
          0px 23px 14px 0px rgba(12, 0, 102, 0.05),
          0px 40px 16px 0px
            rgba(12, 0, 102, 0.01),
          0px 63px 18px 0px rgba(12, 0, 102, 0);
      }
    }
  }
}
