@import "../../../scss/variables";

.section__slider {
  background-color: $bgDesktop;
  margin-block-end: 5.62rem;
  
  .slider__title {
    color: $textDark;
    font-family: $mont;
    font-size: 1.5rem;
    padding: .62rem;
    margin-block-end: 1.25rem;
  }

  .slider__books {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    overflow-x: scroll;
  }
}